SHOPIFY_API_KEY=your_shopify_api_key
SHOPIFY_API_SECRET=your_shopify_api_secret
SHOPIFY_APP_URL=https://your-production-domain.com
SCOPES=read_products,write_products
DATABASE_URL=postgresql://neondb_owner:npg_oE6adlXw5jfR@ep-morning-forest-al7xqzmb-pooler.c-3.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require


